@model Brand
@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <form method="post" asp-action="create">
        <div class="row">
            <div class="mb-3 col-md-6">
                <label asp-for="Image" class="form-label">Name</label>
                <input class="form-control " asp-for="Image" placeholder="Title1">
            </div>
        </div>
        
        <button type="submit" class="btn btn-block btn-outline-primary">Submit</button>

    </form>
</div>

