@model OrderViewModel

@{
	double totalprice = 0;
}

	<div class="site-wrapper" id="top">
		<section class="breadcrumb-section">
			<h2 class="sr-only">Site Breadcrumb</h2>
			<div class="container">
				<div class="breadcrumb-contents">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="index.html">Home</a></li>
							<li class="breadcrumb-item active">Checkout</li>
						</ol>
					</nav>
				</div>
			</div>
		</section>
		<main id="content" class="page-section inner-page-sec-padding-bottom space-db--20">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<!-- Checkout Form s-->
						<div class="checkout-form">
							<div class="row row-40">
								
								<div class="col-lg-7 mb--20">
									<!-- Billing Address -->
									<div id="billing-form" class="mb-40">
										<h4 class="checkout-title">Billing Address</h4>
									<form id ="formOrder" method="post" asp-action="order" asp-controller="home">
										<div class="row">
											<div class="col-md-6 col-12 mb--20">
												<label asp-for="Fullname" >FullName*</label>
												<input asp-for="Fullname" type="text" placeholder="FullName">
												<span asp-validation-for="Fullname" ></span>
											</div>
											<div class="col-md-6 col-12 mb--20">
												<label asp-for="Country" >Country</label>
												<input asp-for="Country" type="text" placeholder="Country">
												<span asp-validation-for="Country" ></span>
											</div>


											<div class="col-md-6 col-12 mb--20">
												<label asp-for="Email" >Email Address*</label>
												<input asp-for="Email"  placeholder="Email Address">
												<span asp-validation-for="Email" ></span>
											</div>
											<div class="col-md-6 col-12 mb--20">
												<label asp-for="PhoneNumber" >Phone no*</label>
												<input asp-for="PhoneNumber" placeholder="Phone number">
												<span asp-validation-for="PhoneNumber" ></span>
											</div>

											<div class="col-12 mb--20">
												<label  >Address*</label>
												<input asp-for="Address1" placeholder="Address line 1">
												<input asp-for="Address2" placeholder="Address line 2">
												<span asp-validation-for="Address1" ></span>
											</div>
											@*<div class="col-md-6 col-12 mb--20">
												<label asp-for="C" >Town/City*</label>
												<input type="text" placeholder="Town/City">
											</div>*@
											
											<div class="col-md-6 col-12 mb--20">
												<label asp-for="ZipCode">Zip Code*</label>
												<input asp-for="ZipCode"  placeholder="Zip Code">
												<span asp-validation-for="ZipCode" ></span>
											</div>
											<div class="col-12 mb--20 ">
											</div>
										</div>
										<div class="order-note-block mt--30">
											<label asp-for="Note">Order notes</label>
											<textarea asp-for="Note" cols="30" rows="10" class="order-note"
													  placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
											<span asp-validation-for="Note" ></span>
										</div>
										</form>
									</div>
									<!-- Shipping Address -->
									
								</div>
								<div class="col-lg-5">
									<div class="row">
										<!-- Cart Total -->
										<div class="col-12">
											<div class="checkout-cart-total">
												<h2 class="checkout-title">YOUR ORDER</h2>
												<h4>Product <span>Total</span></h4>
												<ul>
													@foreach (var item in Model.checkoutItemViewModels)
												{
													double price = (item.Book.SellPrice - (item.Book.SellPrice * item.Book.DiscountPrice) / 100);
													<li>
														<span class="left">@item.Book.Name X @item.Count</span> <span class="right">$@price</span>
													</li>

													totalprice += price;
												}
													
												</ul>
												<p>Total Price <span>$@totalprice</span></p>
												@*<p>Shipping Fee <span>$00.00</span></p>
												<h4>Grand Total <span>$104.00</span></h4>*@
												<div class="method-notice mt--25">
													<article>
														<h3 class="d-none sr-only">blog-article</h3>
														Sorry, it seems that there are no available payment methods for
														your state. Please contact us if you
														require
														assistance
														or wish to make alternate arrangements.
													</article>
												</div>
												<div class="term-block">
													<input type="checkbox" id="accept_terms2">
													<label for="accept_terms2">
														I’ve read and accept the terms &
														conditions
													</label>
												</div>
												<button type="submit" form="formOrder" class="place-order w-100">Place order</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
	