@model Slider

<div class="container">
    <form method="post" asp-action="update" enctype="multipart/form-data">
        <div class="row">
            <div class="mb-3 col-md-3">
                <label asp-for="Title1" class="form-label">Title1</label>
                <input class="form-control " asp-for="Title1" placeholder="Title1">
            </div>
            <div class="mb-3 col-md-3">
                <label asp-for="Title2" class="form-label">Title2</label>
                <input class="form-control" asp-for="Title2" placeholder="Title2">
            </div>
            <div class="mb-3 col-md-3">
                <label asp-for="RedirectUrl" class="form-label">RedirectUrl</label>
                <input class="form-control" asp-for="RedirectUrl" placeholder="RedirectUrl">
            </div>
            <div class="mb-3 col-md-3">
                <label asp-for="RedirectUrlText" class="form-label">RedirectUrlText</label>
                <input class="form-control" asp-for="RedirectUrlText" placeholder="RedirectUrlText">
            </div>

        </div>
        <div class="row align-items-center">
            <div class="mb-3 col-md-4">
                <label asp-for="Desc" class="form-label">Description</label>
                <textarea style="width: 300px" class="form-control" asp-for="Desc" placeholder="Description"> </textarea>
            </div>
            <div class="mb-3 col-md-3">
                <label asp-for="Order" class="form-label">Order</label>
                <input class="form-control" asp-for="Order" placeholder="Order">
            </div>
        </div>
        <div class="mb-3 col-md-3">
            <label asp-for="ImageFile" class="form-label">ImageFile</label>
            <input class="form-control" asp-for="ImageFile" placeholder="ImageFile">
            <span asp-validation-for="ImageFile" class="text-danger"></span>
            @*<div class="mt-3">
                <img style="width:249px;height:100px" src="~/uploads/sliders/@Model.Image" />

            </div>*@
        </div>

        <button type="submit" class="btn btn-block btn-outline-primary">Submit</button>

    </form>
</div>


